blue = #2d66bd

.fa-heart-o
	margin-bottom 30px

.intro
	background-image url('/img/wedding-bg.jpg')

	h1
		font-family 'Berkshire Swash'
		font-weight normal
		text-transform none

.the-date
	height 1100px
	
	h1
		margin-top 250px
		text-align center
		text-transform none

#about
	background-color blue
	padding-bottom 150px
	width 100%

	.row
		margin 0 auto

.download-section
	background-image url(/img/guestbook-bg.jpg)

@media screen and (min-width: 767px)
	.intro
		.brand-heading
			font-size 130px

	#about
		padding-top 150px

		.row
			width 750px

@media screen and (min-width: 992px)
	#about .row
		width 960px

@media screen and (min-width: 1200px)
	#about .row
		width 1170px

